.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  /* width: 1184px; */
}

@media screen and (max-width: 640px) {
  .photo-grid__list {
    grid-gap: 12px;
  }
}

