.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
  grid-gap: 48px 40px;
  grid-template-rows: min-content min-content 1fr;
  padding-bottom: 80px;
}

@media screen and (max-width: 820px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-gap: 46px 28px;  
    padding-bottom: 72px;
  }
}

@media screen and (max-width: 640px) {
  .place {
    grid-template-areas: 
      "title"
      "artist"
      "image"
      "text"
      "text"
      "button";
    grid-template-columns: 1fr;
    grid-gap: 12px;
    
  }
}