.button {
  padding: 13px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  text-decoration: none;

  background: #0278FE;
  border-radius: 4px;
  border: none;

  width: fit-content;
  height: min-content;
  position: relative;
  z-index: 0;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.button:hover::before {
  background: #0063D2;
  transition: 0.3s;
}